body {
	background-color: #ecf0f1;
}

.hidden {
	display: none;
}

#command_window {
	position: absolute;
	overflow: auto;
	top:0;
	left:0;
	width: 100%;
	max-width: 700px;
	bottom:200px;
	padding: 30px;
}
#command_window .row {
	margin-bottom: 0;
}
#command_window .row .card-panel {
	margin: 0.5rem 0 0.5rem 0;;
}
.robot-command {
	font-size: 24px;
	font-weight: 500;
}

#driver {
	position: absolute;
	left:0;
	bottom:0;
	height: 200px;
	padding: 30px;
	width: 100%;
	max-width: 700px;
}